/* ============================================================
   Fuentes e iconos autohospedados (sin CDN de terceros)
   Roboto  -> licencia OFL   (assets/fonts/LICENSE-Roboto.txt)
   Material Icons -> licencia Apache 2.0 (assets/fonts/LICENSE-MaterialIcons.txt)
   ============================================================ */

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Variable.ttf') format('truetype-variations'),
       url('Roboto-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  src: url('MaterialIcons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
